
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:inline="text">Edit Product ID = [[${product.id}]]</title> 
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/icons/bootstrap-icons-1.10.5/font/bootstrap-icons.min.css}"/>
</head>
<body>
    <div class="content-fluid">
        <div class="row m-0">
            <div class="col-sm-1 col-xxl-2"></div>
            <div class="col-12 col-sm-10 col-xxl-8">
                <div class="row py-5">
                    <div class="col-12 my-5 d-flex justify-content-center">
                        <div class="border-bottom w-100" style="max-width: 1000px;">
                            <h1>Edit Product</h1>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <form th:action="@{/products/edit/{id}(id=${product.id})}" th:object="${product}" method="post" class="w-100" style="max-width: 1000px;">
                            <input type="text" th:field="*{id}" hidden><br>
                            <div class="form-floating mb-3 mt-1">
                                <input th:field="*{id}" type="number" class="form-control" id="floatingInputId" placeholder="ID" disabled>
                                <label for="floatingInputId">ID</label>
                            </div>
                            <div th:if="${#fields.hasErrors('name')}" class="alert alert-warning" role="alert">
                                <li th:each="err : ${#fields.errors('name')}" th:text="${err}"/>
                            </div>
                            <div class="form-floating mb-3 mt-1">
                                <input th:field="*{name}" type="text" class="form-control" id="floatingInputName" placeholder="Name">
                                <label for="floatingInputName">Name</label>
                            </div>
                            <div th:if="${#fields.hasErrors('category')}" class="alert alert-warning" role="alert">
                                <li th:each="err : ${#fields.errors('category')}" th:text="${err}"/>
                            </div>
                            <div class="form-floating mb-3 mt-1">                                
                                <input th:field="*{category}" type="text" class="form-control" id="floatingInputCategory" placeholder="Category">
                                <label for="floatingInputCategory">Category</label>
                            </div>
                            <div th:if="${#fields.hasErrors('price')}" class="alert alert-warning" role="alert">
                                <li th:each="err : ${#fields.errors('price')}" th:text="${err}"/>
                            </div>
                            <div class="form-floating mb-3 mt-1">
                                <input th:field="*{price}" type="number" step="any" class="form-control" id="floatingInputPrice" placeholder="Price">
                                <label for="floatingInputPrice">Price</label>
                            </div> 
                            <div class="row">
                                <div class="col-12 col-sm-6 mt-4" style="height: 80px;">
                                    <button type='submit' class="btn btn-outline-dark btn-lg w-100 h-100 d-flex align-items-center justify-content-center"><i class="bi bi-check-lg fs-3"></i><span class="px-3">Save</span></button>
                                </div>
                                <div class="col-12 col-sm-6 mt-4" style="height: 80px;">
                                    <a th:href="@{/products}" class="btn btn-outline-dark btn-lg w-100 h-100 d-flex align-items-center justify-content-center"><i class="bi bi-arrow-left fs-3"></i> <span class="px-3">Cancel</span></a>
                                </div>
                            </div>  
                        </form> 
                    </div>
                </div>
            </div>
            <div class="col-sm-1 col-xxl-2"></div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/popperjs_core@2.11.8_dist_umd_popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>